
.movie-image-detail {
    border-radius: 5px;
}

.movie-title-detail {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0;
}

/*
@media screen and (min-width: 954px) {
    .movie-title-detail {text-align: left;}
} 
*/

