body {
    min-width: 578px;
}

h2 {
    background-color: rgba(33,37,41,.4);
    color : #fff;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 2.5px 0;
}

.wrapper {
    margin: auto;
    padding-top: 40px;
    text-align: center;
    
}

footer {
    background-color: #212529;
    text-align: center;
    color:#fff;
    margin-top: 40px;
    padding: 20px 0;
}
